body {
    margin: 0px;
    background-color: whitesmoke;
    overflow-y: auto;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 2000px;
}

/*NAVBAR NOTES

#navbar {
    background-color: rgb(149, 90, 205);
    padding: 4px;


}
li{
    display: inline-block;
    padding: 5px;
}

ul {
    margin-left: 1250px;
    font-size: 100%;
}

li a:hover {
color: black;
text-decoration: none;
}
*/


#header {
    font-size: 200%;
}
.wrapper {
    text-align: center;

}

/*SIDEBAR/NAVBAR*/
.sidebar {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: paleturquoise;
  }

  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    
  }
  .sidebar a:hover {
    color: black;
  }

  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  /*FOOTER*/
  #footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color:  #818181;
      color:paleturquoise;
      text-align: left;
      z-index: 1;
  }

  /*BODY*/

  #body {
      text-align: center;
  }

  .article1 {
      background-color: #818181;
      padding: 25px;
      float: center;
      position: absolute;
      margin-left: 300px;
      margin-right: 300px;
      color: paleturquoise;
      list-style: none;
  }

  .article2 {
    background-color: #818181;
    padding: 25px;
    float: center;
    position: absolute;
    margin-left: 300px;
    margin-right: 300px;
    color: paleturquoise;
    z-index: 1;
    top: 600px;
  }

.article3 {
    background-color: #818181;
    padding: 25px;
    float: center;
    position: absolute;
    margin-left: 300px;
    margin-right: 300px;
    color: paleturquoise;
    z-index: 1;
    top: 950px;
}

.list1 {
    text-align: left;
}

.list2 {
    text-align: left;
}