html {
    scroll-behavior: smooth;
}

body {
    /* overflow-y: auto;
    overflow: scroll;
    overflow-x: hidden; */
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://images.pexels.com/photos/934011/pexels-photo-934011.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -200px;
    
    
}

#header {
    font-size: 300%;
    font-family: 'Dancing Script', cursive;
    padding: 5px;
}
.wrapper {
    text-align: center;

}

/*SIDEBAR/NAVBAR*/
.sidebar {
    height: 100%; 
    width: 175px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #D8BFD8;
    list-style-type: none;
    
  }
  ul{
      list-style: none;
     
  }

  .list {
      text-align: left;
      margin-left: -30px;
  }

  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    
  }
  .sidebar a:hover {
    color:#818181;
    
  }

  .main {
    margin-left: 160px;
    padding: 0px 10px;
    
  }

  .headersidebar {
      color:black;
      font-size: 30px;
      margin-right: 60px;
      text-align: center;
      padding: 4px;
      font-family: 'Dancing Script', cursive;
      
  }

  /*FOOTER*/
  #footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color:  #818181;
      color: black;
      text-align: left;
      z-index: 1;
      opacity: 0.8;
  }

  /*BODY*/

  #body {
      text-align: center;
  }

  .article1 {
      background-color: #818181;
      padding: 25px;
      float: center;
      position: absolute;
      margin-left: 300px;
      margin-right: 300px;
      color: black;
      list-style: none;
      border: 1px solid black;
      box-shadow:  5px 10px 8px #888888;
      top: 200px;
  }

  .article2 {
    background-color: #818181;
    padding: 25px;
    float: center;
    position: absolute;
    margin-left: 300px;
    margin-right: 300px;
    color: black;
    z-index: 1;
    top: 800px;
    border: 1px solid black;
    box-shadow:  5px 10px 8px #888888;
  }

.article3 {
    background-color: #818181;
    padding: 25px;
    float: center;
    position: absolute;
    margin-left: 300px;
    margin-right: 300px;
    color: black;
    z-index: 1;
    top: 1280px;
    border: 1px solid black;
    box-shadow:  5px 10px 8px #888888;
}

.list1 {
    text-align: left;
    list-style: none;
}

.list2 {
    text-align: left;
    list-style: none;
}

.list3 {
    text-align: left;
    list-style: none;
}

.margin {
    text-align: left;
}


